# dependencies
node_modules/

# build output
dist/

# astro
.astro/

# env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# Local Netlify folder
.netlify

# Playwright MCP
.playwright-mcp/

# Test artifacts
/test-site.mjs
/*.jpeg
