---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href="https://instagram.com" target="_blank" rel="noopener">Instagram</a></li>
      <li><a href="https://twitter.com" target="_blank" rel="noopener">Twitter</a></li>
      <li><a href="https://behance.net" target="_blank" rel="noopener">Behance</a></li>
    </ul>
    <p>&copy; {year} Studio. All rights reserved.</p>
  </div>
</footer>
